/* Sets the initial behavior for all the elements, box-sizing, scroll behaviour, spacing, etc. */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

/* Sets the bg color of the site to a grey color*/
body {
    background-color: #d9dcd6;    
}

/* Sets the color of links to white with no underline */
a {
    color: #ffffff;
    text-decoration: none;
}

/* Sets the font-size of all paragraph elements to 16px */
p {
    font-size: 16px;
}

/* Sets the header semantic tag font, padding, bg color and color -> at the top of the page */
header{
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

/* Sets the h1 'site title' to be 48px inline-block within the header */
header h1{
    display: inline-block;
    font-size: 48px;
}

/* Changes the color of the 'seo' text within the h1 in the header tag to be a darker grey */
header h1 span{
    color: #d9dcd6;
}

/* Sets the styling for the navigation semantic tag within the header */
header nav{
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

/* Removes the bullets on the unordered list element */
header nav ul {
    list-style-type: none;
}

/* Inline-block orders the list items to be in the same row together with a spacing of 25px */
header nav ul li {
    display: inline-block;
    margin-left: 25px;
}

/* Sets the bg image of the figure semantic tag for the hero banner along with other styling -> below the header*/
figure {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

/* Sets the size for the main content section of the page -> below the hero banner */
main {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

/* Sets the styling for each article within the main semantic tag */
main article {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

/* Sets the width for the images within the main content section */
main article img {
    max-height: 200px;
}

/* These classes shift the element left or right, mainly used for the images in the main content section */
.float-left {
    float: left;
    margin-right: 25px;
}

.float-right {
    float: right;
    margin-left: 25px;
}

/* Sets the size of the subtitles in the main content section */
main article h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

/* For the sidebar set in a section semantic tag, is positioned to the right with a width of 20%, etc. -> next to the main content */
section {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

/* Sets the spacing and color of each article within the sidebar section */
section article {
    margin-bottom: 32px;
    color: #ffffff;
}

/* Sets the spacing and alignment for each subtitle within the sidebar section */
section article h3 {
    margin-bottom: 10px;
    text-align: center;
}

/* Sets the width of each image icon within the sidebar section */
section article img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/* Sets the styling for the footer semantic tag -> at the bottom of the page */
footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

/* Sets the font size for the subtitle in the footer section */
footer h2 {
    font-size: 20px;
}
